@model AutoServiceSystem.BusinessObject.Repair

@{
    ViewBag.Title = "Create Repair";
}

<h1>Create Repair</h1>

<section>
    <div>
        @using (Html.BeginForm("Create", "Repair", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <label for="createddate">CreatedDate</label>
            <input type="text" id="createddate" name="createddate"
                   value="@Model.CreatedDate">
            @Html.ValidationMessageFor(m => m.CreatedDate)

            <label for="description">Description</label>
            <input type="text" id="description" name="description"
                   value="@Model.Description">
            @Html.ValidationMessageFor(m => m.Description)

            <label for="price">Price</label>
            <input type="text" id="price" name="price" value="@Model.Price">
            @Html.ValidationMessageFor(m => m.Price)

            <label for="vehicleid">VehicleID</label>
            <input type="text" id="vehicleid" name="vehicleid"
                   value="@Model.VehicleID">
            @Html.ValidationMessageFor(m => m.VehicleID)

            <button type="submit" class="">Create</button>
            <button onclick="location.href='/';return false;" class="cancel">Cancel</button>
        }
    </div>
</section>