@model AutoServiceSystem.BusinessObject.Repair

@{
    ViewBag.Title = "Delete Repair";
}

<h1>Delete Repair</h1>

<section>
    <div>

        @using (Html.BeginForm("Delete", "Repair", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="createddate">CreatedDate</label>
            <input type="text" id="createddate" value="@Model.CreatedDate" disabled>
            <label for="description">Description</label>
            <input type="text" id="description" value="@Model.Description" disabled>
            <label for="price">Price</label>
            <input type="text" id="price" value="@Model.Price" disabled>
            <label for="vehicleid">VehicleID</label>
            <input type="text" id="vehicleid" value="@Model.VehicleID" disabled>

            <button type="submit" class="accept">Delete</button>
            <button onclick="location.href='/';return false;" class="cancel">Cancel</button>
        }

    </div>
</section>


