@model AutoServiceSystem.BusinessObject.Vehicle

@{
    ViewBag.Title = "Delete Vehicle";
}

<h1>Delete Vehicle</h1>

<section>
    <div>

        @using (Html.BeginForm("Delete", "Vehicle", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="vin">VIN</label>
            <input type="text" id="vin" value="@Model.VIN" disabled>
            <label for="registrationplate">RegistrationPlate</label>
            <input type="text" id="registrationplate" value="@Model.RegistrationPlate" disabled>
            <label for="make">Make</label>
            <input type="text" id="make" value="@Model.Make" disabled>
            <label for="model">Model</label>
            <input type="text" id="model" value="@Model.Model" disabled>
            <label for="color">Color</label>
            <input type="text" id="color" value="@Model.Color" disabled>
            <label for="client">Client</label>
            <input type="text" id="client" value="@Model.Client.Id" disabled>

            <button type="submit" class="accept">Delete</button>
            <button onclick="location.href='/vehicle';return false;" class="cancel">Cancel</button>
        }

    </div>
</section>

