@model List<AutoServiceSystem.BusinessObject.Vehicle>

@{
    ViewBag.Title = "All Vehicles";
}

<h1>All Vehicles</h1>

<div>
    <button onclick="location.href='/vehicle/create';return false;" class="add-new">Create New Vehicle</button>
</div>

<section>
    <div>
        <table>
            <tr>
                <th>VIN</th>
                <th>RegistrationPlate</th>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>ClientID</th>
            </tr>
            @foreach (var vehicle in Model)
            {
                <tr>
                    <td>@vehicle.VIN</td>
                    <td>@vehicle.RegistrationPlate</td>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.Color</td>
                    <td>@vehicle.ClientID</td>
                    <td>
                        <button onclick="location.href='vehicle/edit/@vehicle.Id';return false;" class="edit">Edit</button>
                        <button onclick="location.href='vehicle/delete/@vehicle.Id';return false;" class="delete">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>