@model AutoServiceSystem.BusinessObject.Repair
@{
    ViewBag.Title = "Edit Repair";
}

<h1>Edit Repair</h1>

<section>
    <div>

        @using (Html.BeginForm("Edit", "Repair", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <label for="description">Description</label>
            <input type="text" id="description" value="@Model.Description" name="description">
            @Html.ValidationMessageFor(m => m.Description)

            <label for="price">Price</label>
            <input type="text" id="price" value="@Model.Price" name="price">
            @Html.ValidationMessageFor(m => m.Price)

            <label for="vehicle">Vehicle</label>
            <input type="text" id="vehicle" value="@Model.Vehicle.Id" disabled>
            @Html.ValidationMessageFor(m => m.Vehicle.Id)

            <button type="submit" class="accept">Edit</button>
            <button onclick="location.href='/repair/index';return false;" class="cancel">Cancel</button>
        }

    </div>
</section>