@model AutoServiceSystem.BusinessObject.Vehicle

@{
    ViewBag.Title = "Edit Vehicle";
}

<h1>Edit Vehicle</h1>

<section>
    <div>

        @using (Html.BeginForm("Edit", "Vehicle", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <label for="registrationplate">RegistrationPlate</label>
            <input type="text" id="registrationplate" value="@Model.RegistrationPlate" name="registrationplate" />
            @Html.ValidationMessageFor(m => m.RegistrationPlate)

            <label for="color">Color</label>
            <input type="text" id="color" value="@Model.Color" name="color" />
            @Html.ValidationMessageFor(m => m.Color)

            <label for="client">Client</label>
            <input type="text" id="client" value="@Model.Client.Id" disabled />

            @Html.ValidationMessageFor(m => m.Client.Id)

            <button type="submit" class="accept">Edit</button>
            <button onclick="location.href='/vehicle/index';return false;" class="cancel">Cancel</button>
        }

    </div>
</section>